pandas>=2.0
requests>=2.31
sqlalchemy>=2.0
yfinance>=0.2
openpyxl>=3.1
python-dotenv>=1.0
streamlit>=1.30
plotly>=5.18
reportlab>=4.0
justetf-scraping @ git+https://github.com/druzsan/justetf-scraping.git
